.range-slider {
  height: 24px;
  text-align: center;
  background: transparent;
  cursor: default;
  pointer-events: none;
}

.range-slider .range-slider__thumb {
  width: 8px;
  height: 20px;
  border-radius: 4px;
  background: transparent;
  background-repeat: no-repeat;
  background-position: center;
  pointer-events: auto;
  border: 1px solid transparent; /* Programmatically change border color when hovered over range slider */
}

.range-slider .range-slider__thumb:hover {
  cursor: ew-resize;
}

.range-slider .range-slider__range {
  border-radius: 8px;
  pointer-events: auto;
}

.range-slider .range-slider__range:hover {
  cursor: grab;
}

.range-slider .range-slider__range:active {
  cursor: grabbing;
}
