.hour-col::after {
  content: "";
  position: relative;
  background-color: var(--mantine-color-white);
  transform: translateX(50%);
  right: 0;
  top: 0;
  bottom: 0;
  width: 1px; /* Adjust the thickness of the tick mark here */
}

.Service .range-slider__range {
  background-color: var(--mantine-color-green-light);
  color: var(--mantine-color-green-light-color);
  border: 1px solid var(--mantine-color-green-outline);
}

.Manager .range-slider__range {
  background-color: var(--mantine-color-violet-light);
  color: var(--mantine-color-violet-light-color);
  border: 1px solid var(--mantine-color-violet-outline);
}

.Kitchen .range-slider__range {
  background-color: var(--mantine-color-orange-light);
  color: var(--mantine-color-orange-light-color);
  border: 1px solid var(--mantine-color-orange-outline);
}
