* {
  margin: 0;
  padding: 0;
  font-family: Helvetica;
}

.container {
  width: 100%;
  height: 100vh;
}
.dropdown {
  width: 400px;
  user-select: none;
  margin: 40px auto;
  position: relative;
}

.dropdown .dropdown-content {
  position: absolute;
  top: 110%;
  left: 0;
  padding: 10px;
  background: light-dark(var(--mantine-color-white), var(--mantine-color-gray-6));
  box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
  font-weight: 500;
  color: #333;
  width: 100%;
}

.dropdown .dropdown-content .dropdown-item {
  padding: 10px;
  cursor: pointer;
  transition: all 0.2s;
}
.dropdown .dropdown-content .dropdown-item:hover {
  background: #f4f4f4;
}
