.range-slider {
  height: 30px;
  text-align: center;
  background: transparent;
  cursor: default;
  pointer-events: none;
}

.range-slider .range-slider__thumb {
  width: 8px;
  height: 20px;
  border-radius: 4px;
  background: transparent;
  background-repeat: no-repeat;
  background-position: center;
  pointer-events: auto;
}

.range-slider .range-slider__thumb:hover {
  cursor: ew-resize;
}

.range-slide .range-slider__thumb-range__hover {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' fill='%23333' viewBox='0 0 24 24'%3E%3Cpath d='M12,16A2,2 0 0,1 14,18A2,2 0 0,1 12,20A2,2 0 0,1 10,18A2,2 0 0,1 12,16M12,10A2,2 0 0,1 14,12A2,2 0 0,1 12,14A2,2 0 0,1 10,12A2,2 0 0,1 12,10M12,4A2,2 0 0,1 14,6A2,2 0 0,1 12,8A2,2 0 0,1 10,6A2,2 0 0,1 12,4Z' /%3E%3C/svg%3E")
    #fff;
}

.range-slider .range-slider__range {
  border-radius: 8px;
  opacity: 50%;
  background: grey;
  border: 2px solid light-dark(var(--mantine-color-dark-6), var(--mantine-color-white));
  pointer-events: auto;
}

.range-slider .range-slider__range:hover {
  cursor: grab;
}

.range-slider .range-slider__range:active {
  cursor: grabbing;
}
