.hour-col::after {
  content: "";
  position: relative;
  background-color: var(--mantine-color-white);
  transform: translateX(50%);
  right: 0;
  top: 0;
  bottom: 0;
  width: 1px; /* Adjust the thickness of the tick mark here */
}
